*.swp
*.swo
*.swn
vim.exe.stackdump
static/.sass-cache

node_modules
.DS_Store

volors-api/public/index.html
volors-api/public/js
volors-api/public/fonts
volors-api/public/styles
volors-api/public/favicon


