@import 'constants.scss';

#app {
	
	margin: 0;
	font-family: "Proxima Nova","Open Sans","Gill Sans MT","Gill Sans",Corbel,Helvetica,Arial,sans-serif;
	font-size: 140%;
	color: $text-color;	

	h1, h2, h3, h4, h5, h6 {
		color: white;
		background-color: $primary-color;
		text-align: center;
		padding: 60px;
		margin: 0;
		font-weight: bold;
		line-height: normal;
	}

	h1 {
		font-size: 300%;
	}

	.reduced-top-header {
		padding-top: 10px;
	}

	p {
	  margin: 20px 20%;
	  line-height: normal;
	}

	a {
		color: $primary-color;
	}

	a:hover {
		color: darken($primary-color, 20%);
	}

	.content {
		margin: 20px 20%;
	}

	input {
		font-size: 120%;
		width: 100%;
		display: block;
		margin: 20px auto;
		border: 2px solid $primary-color;
		border-radius: 12px;
		padding: 12px;
	}

	.button {
		background-color: $primary-color;
		color: white;
		border: none;
		border-radius: 12px;
		padding: 12px;
	}

	.button:hover {
		background-color: darken($primary-color, 20%);
		cursor: pointer;
	}

	table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
		padding: 8px;
	}

	.disabled {
		color: #aaaaaa;
		background-color: #cccccc;
		border: 2px solid #888888;
	}

	.disabled:hover {
		background-color: #cccccc;
		cursor: default;
	}
}