<head>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
  <h1>Define features</h1>

  <p>Input a comma-separated list of features, and we'll tell you which classification the model predicts. Doesn't do input scrubbing, etc, therefore THIS IS NOT SECURE.</p>

  <p>Example well-formed data:</p>

  <p><code>5500,2.9</code></p>

  <div>
    <form method="POST" action="">
      <p>
        <select name="model">
          {% for filename in models %}
            <option value="{{filename}}">{{filename}}</option>
          {% endfor %}
        </select>
      </p>
      <p><input type="text" name="data" /></p>
      <p><input type="submit" class="button" value="submit"></p>
    </form>
  </div>
</body>
