<head>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
  <h1>Upload data</h1>

  <p>Make sure your first row has headers for your data, and the rightmost column contains the classes you want to group objects into. This sample only does classification problems, but we'll be adding more types of problems soon.</p>

  <p>Example well-formed data:</p>

  <div class="content">
    <table>
      <tr>
        <th>Weight (kg)</th>
        <th>Height (m)</th>
        <th>Animal</th>
      </tr>
      <tr>
        <td>6000</td>
        <td>3.1</td>
        <td>elephant</td>
      </tr>
      <tr>
        <td>.04</td>
        <td>.1</td>
        <td>mouse</td>
      </tr>
      <tr>
        <td>5600</td>
        <td>2.5</td>
        <td>elephant</td>
      </tr>
    </table>
  </div>

  <div>
    <form method="POST" action="" enctype="multipart/form-data">
      <p>Upload CSV <input type="file" name="data"/></p>
      <p><input type="submit" class="button" value="submit"></p>
    </form>
  </div>
</body>
