<head>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <div>
        <h1>Volors</h1>
        <h2 class="reduced-top-header">Better insights through machine learning, minus the programming</h2>
    </div>
    <br />
    <div>
        <p>Make the most of the information you have. Our goal is to make understanding and making predictions easy and convenient, no matter what shape your data takes.</p>
        <p>Signups will be opening soon. For now, try our <a href="learn">basic prediction tool</a>.</p>
        <p>&nbsp;</p>
        <form action="" method="">
          <p><input type="email" name="email" class="disabled" placeholder="email address" disabled/></p>
          <p><input type="submit" class="button disabled" name="submit" value="Sign up" disabled/></p>
        </form>
    </div>
</body>
